*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.navigation,ul{
    background-color: red;
   padding: 10px ;
   width: 100%;
}
.navigation,ul, li , a{
    list-style-type: none;
   float: left;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding-left: 70px;
    padding-right: 10px;
    color: white;
   
}
 a:hover{
    background-color:black;
   
    color:black;
 }
 a:link {
    color: white
  }
  a:visited {
    color:white;
  }
  a:active {
    color: yellow;
  }
 #image1 {
    width: 100%;
    filter: grayscale(100%);
  
 }
 .heading-2, h2{
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: 2%;
    padding: 10px;
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px rgb(205, 112, 112);
    background-color: #ccc;

 }
 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ccc;

    margin-bottom: 3%;
}

.conatiner,
figure {
    border: 2px #ccc solid;
    width: 30%;
    margin-left: 5px;
    margin-bottom: 5%;

}

figcaption {
    text-align: center;
    padding: 8px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
   
    color: black;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input:hover {
    background-color: #f44b4b;
  }
  
  .container1 {
    border-radius: 5px;
    background-color: #c25050;
    padding: 20px;
    margin-bottom: 3%;
  }
  table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
   th:hover{
    background-color: #f55e5e;
  }
  .block{
    background-color: #eb4646;
   font-size: 15px;
   font-weight: 300;
   font-family: sans-serif;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 1%;
  }
h3{
    padding-top: 20px;
  }
  h3:hover{
    background-color: white;
  }
  .footer{
    background-color: rgb(85, 81, 81);
    padding: 110px ;
    width: 100%;
    
  }
  .para{
    text-align: center;
    text-transform: uppercase;
    text-overflow: hidden;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    padding-bottom: 10px;
  }
  p:hover{
    color: rgb(230, 0, 0);
    font-style: oblique;
  }
  .para,p:focus{
    color: #000000;
  }
  p::after{
    content: "";
    color: azure;
  }
  p::before{
    content: "";
    color: rgb(235, 7, 7);
  }
   p:last-child{
    color: rgb(18, 8, 8);
  }